.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0%;
}

.place-image {
    width: 300px;
    border-radius: 15px;
}

.places div h2 {
    margin-top: -10px;
    font-size: 20px;
}

.icon{
    display: flex;
    align-items: center;
    margin-top: -40px;
    margin-left: -10px;
}


.icon p{
    margin-left: -10px;
}

.description{
    margin-top: -20px;
    color: rgb(165, 161, 161);
    font-weight:normal
}
